@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "PT Sans Narrow", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  /* font-size */
  --h1-size: 3rem;
  --h2-size: 1.5rem;
  --h3-size: 1rem;
  --li-size: 1.2rem;
  --p-size: 1rem;
  /* color */
  --main-color: #000000;
  --second-color: rgb(189, 189, 189);
  --third-color: rgb(71, 70, 70);
  --fourth-color: gainsboro;
  --span-color: salmon;
  --button-main: rgb(5, 100, 252);
  --button-second: rgb(126, 203, 255);
}

.App {
  width: 100%;
  margin: auto;
  display: grid;
  grid:
    "header main main" 1fr
    "header main main" 1.5fr
    "header footer footer" 0.5fr
    / 0.5fr 1fr 1fr;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 700;
}
h2 {
  font-size: var(--h2-size);
  font-weight: 400;
  margin-top: 1.5rem;
}

/* header style */

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 6rem;
  background-color: ghostwhite;
}

header h3 {
  font-size: var(--h3-size);
  color: var(--main-color);
}

header span {
  color: var(--span-color);
}

header li {
  list-style: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: var(--li-size);
  color: var(--second-color);
  padding-bottom: 3rem;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

header li:hover {
  font-weight: 700;
  color: var(--main-color);
  transform: scale(1.2);
}

/* main style */
main {
  grid-area: main;
  padding: 2rem;
}

.material-icons {
  font-family: "Material Icons";
  font-size: var(--p-size);
}

/* footer style */
footer {
  grid-area: footer;
  width: 100%;
  padding-left: 2rem;
  margin-top: 10rem;
}

footer p {
  font-size: var(--p-size);
  color: var(--second-color);
}

@media (min-width: 375px) {
  .App {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
  }
  /* header style */

  header {
    padding: 1rem;
    height: 10vh;
    position: sticky;
    z-index: 99;
    top: 0;
  }

  header nav {
    display: none;
  }

  .button {
    display: flex;
    flex-wrap: nowrap;
  }

  footer {
    text-align: center;
    padding-bottom: 1rem;
  }
}
